html {
  font-size: 1vw;
}
body {
  margin: 0;
  font: 1.2rem serif;
  background-color: white;
  height: 100vh;
  color: #143356;
}
h2,
p {
  margin: 0;
}
.container {
  background-color: white;
  margin: 2vw;
  padding: 3rem 6rem;
  height: 43vw;
  border-radius: 2rem;
  box-shadow: 0.4rem 0.4rem 0.8rem 0.7rem rgba(34, 60, 80, 0.2);
}
.header {
  position: relative;
  font-family: sans-serif;
}
.header__logo {
  display: inline-block;
}
.header__logo_img {
  width: 2rem;
  vertical-align: middle;
}
.header__logo_text {
  /* position: absolute; */
  vertical-align: middle;
  /* font-size: 1rem; */
}
.header__menu {
  display: inline-block;
  position: absolute;
  /* margin: 0.3rem; */
  right: 0;
}
.header-menu__items {
  display: inline-block;
}
.header-menu-items__item {
  display: inline-block;
  margin-right: 3rem;
  cursor: pointer;
}
.header-menu-items__item:hover {
  text-decoration: underline;
  text-decoration-color: #1e5798;
  color: #1e5798;
  /* font-weight: bold; */
}
.header-menu__buttons {
  display: inline-block;
  vertical-align: middle;
}
.header-menu-buttons__button {
  width: 2rem;
  margin-right: 0.8rem;
  cursor: pointer;
}
.header-menu-buttons__button:hover {
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(34, 60, 80, 0.2);
  border-radius: 2rem;
}
.main-content {
  height: 100%;
  vertical-align: middle;
  /* background-color: beige; */
}
.main-content__text {
  /* background-color: bisque; */
  width: 45%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  align-items: center;
  margin-left: 4rem;
  padding-top: 6rem;
}
.main-content-text__label {
  font-size: 4rem;
}
.main-content-text__descripton {
  font-family: sans-serif;
  font-size: 1.5rem;
  /* margin-top: 1rem; */
}
.main-content-text__button {
  margin-top: 3rem;
  padding: 1rem;
  background-color: #143356;
  font-family: sans-serif;
  font-size: 3rem;
  color: white;
  border-radius: 3rem;
  width: 20rem;
  text-align: center;
  cursor: pointer;
}
.main-content-text__button:hover {
  box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem rgba(34, 60, 80, 0.2);
}

.main-content__baner {
  background-image: url("./img/main.png");
  width: 45%;
  height: 100%;
  margin-top: 3rem;
  height: 70vh;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  /* background-color: bisque; */
}
