html {
  font-size: 10px;
}
body {
  margin: 0;
  font: 2rem sans-serif;
  background-color: white;
  /* background-color: blue; */
  height: 100vh;
}
h2,
p {
  margin: 0;
}
.container {
  background-color: white;
  /* font-size: 0; */
  margin: 4vw;
  padding: 5rem;
  /* width: 100rem; */
  /* margin: auto; */
  /* min-height: 100vh; */
  height: 65vw;
  border-radius: 2rem;
  box-shadow: 4px 4px 8px 7px rgba(34, 60, 80, 0.12);
}
